.bat-navigation-element-lt-md {
  width: 100%;
}

.bat-navigation-element {
  height: 150px;
  min-width:250px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;

  .bat-navigation-element-text {
    .bat-navigation-element-title h3 {
      font-size: 45px;
      color: white;
      font-weight: lighter;
      margin-top: 0px;
      margin-bottom: 4px;
    }

    .bat-navigation-element-subtitle span {
      font-size: 25px;
      font-weight: lighter;
      color: #e3e3e3;
    }
  }

  .bat-navigation-element-arrow {
    padding-left: 32px;
    color: white;
  }
}
