<!--provide api for external to input
basenavitems,
to change levels,
events when closed got clicked, when back got clicked-->
<bat-webapp-nav
  [viewModel]=""
  [currentLevel]=""
  (goingToNextLevel)=""
  (goingToPreviousLevel)="">
  <bat-webapp-nav-heading headerTitle="hello"></bat-webapp-nav-heading>
  <bat-webapp-nav-element>
    <ng-template #navElementTemplate let-navItem="navItem">
      this is a template: {{ navItem.id }}
    </ng-template>
  </bat-webapp-nav-element>
  <bat-webapp-nav-footer>
    this is a footer
  </bat-webapp-nav-footer>
</bat-webapp-nav>
