

  bat-close {
    display: block;
  }

  .bat-navigation-lt-md {
    /*maximum of 10 levels, when the transform-animation sets it to get moved by 10 percent,
   that equals the width of one level or the device width*/
    width: calc(100vw * 10);
  }

  .bat-navigation-gt-sm {
    width: 100vw;
  }

  .bat-navigation {
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0px;
    z-index: 1000;

    .bat-navigation-strawler-gt-sm {
      height: 100vh;
      overflow-y: scroll;
    }

    .bat-navigation-container-gt-sm {
      min-height: calc(100vh - 174px);
    }

    .bat-navigation-container {
      max-height: none !important;

      .bat-navigation-level-lt-md {
        min-width: 100%;

        max-width: 100vw;
        width: 100vw;
        min-width: 100vw;


      }

      .bat-navigation-element-container-lt-md {
        max-height: calc(100vh - 140px);
        min-height: calc(100vh - 140px);
        overflow-y: scroll;
      }

      .bat-navigation-level-gt-sm {
        margin-left: 16px;
      }

    }



    .bat-navigation-element-divider {
      width: 100%;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .bat-navigation-footer {
      padding-left: 16px;
      height: 50px;
      width: 100%;
    }
  }

